html, body {
    width: 100%;
    height: 100%;
    background: url("../img/Slide-2-WEB.jpg") no-repeat fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif !important;
}

.main {
    width: 100%;
    height: 100%;
}
.form-container {
    background-color: #f0eded;
    -webkit-box-shadow: inset 12px -2px 6px -9px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 12px -2px 6px -9px rgba(0,0,0,0.3);
    box-shadow: inset 12px -2px 6px -9px rgba(0,0,0,0.3);
}
.carding {
    -webkit-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.15);
    border-radius: 2px;
}
.h-200 {
    height: 200% !important;
}